<div class="panel panel-primary">
    <div class="panel-heading  filehoo-panel-heading">
        <h2 class="panel-title">Don't Miss</h2>
    </div>

    <div class="panel-body" style="padding:4px;">


      <li class=""> <a class="" href="{{site.baseurl}}{{article.url}}">Adobe PhotoShop CS2</a></li>
      <li class=""> <a class="" href="{{site.baseurl}}{{article.url}}">Winamp Classic</a></li>
      <li class=""> <a class="" href="{{site.baseurl}}{{article.url}}">XMPlayer</a></li>


    </div>


</div>
