{% assign downloadList = site.downloads | sort: "title" %}
<div class="list-rows">
{% for download in downloadList %}
{% assign letter = download.title | slice: 0 %}
{% if include.letter contains letter %}
  <a class="list-row" href="{{ download.url }}" title="{{ download.name }} free download">
    <span class="name">{{ download.name }}</span>
    <span class="desc">{{ download.description | strip_html | truncate: 110 }}</span>
    <span class="size">{{ download.size }}</span>
    <span class="get"><span class="chip">{{ download.license | default: "Free" }}</span></span>
  </a>
{% endif %}
{% endfor %}
</div>
