<div class="container-fluid text-center">
  <a title="Filehoo free downloads" href="/">
      <img height="84" alt="Filehoo free downloads" hspace="5" width="298" vspace="5" border="0" src="{{"/assets/img/filehoologo_big.gif" | relative_url }}" />
    </a>
  <table align="center" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td valign="middle" class="d_normal_text">
        <div style="margin-top:5px;"></div>
      </td>
      <td>
        <ul id="tablist2">
          {% if page.url contains "/download-a/" %}<li><a title="/download-a" href="/download-a/" class="tablist-active">A</a></li>{% endif %}
          {% unless page.url contains "/download-a/" %}<li><a title="/download-a" href="/download-a/">A</a></li>{% endunless %}

          {% if page.url contains "/download-b/" %}<li><a title="/download-b/" href="/download-b/" class="tablist-active">B</a></li>{% endif %}
          {% unless page.url contains "/download-b/" %}<li><a title="/download-b/" href="/download-b/">B</a></li>{% endunless %}

          {% if page.url contains "/download-c/" %}<li><a title="/download-c/" href="/download-c/" class="tablist-active">C</a></li>{% endif %}
          {% unless page.url contains "/download-c/" %}<li><a title="/download-c/" href="/download-c/">C</a></li>{% endunless %}

          {% if page.url contains "/download-d/" %}<li><a title="/download-d/" href="/download-d/" class="tablist-active">D</a></li>{% endif %}
          {% unless page.url contains "/download-d/" %}<li><a title="/download-d/" href="/download-d/">D</a></li>{% endunless %}

          {% if page.url contains "/download-efg/" %}<li><a title="/download-efg/" href="/download-efg/" class="tablist-active">E-G</a></li>{% endif %}
          {% unless page.url contains "/download-efg/" %}<li><a title="/download-efg/" href="/download-efg/">E-G</a></li>{% endunless %}

          {% if page.url contains "/download-hijk/" %}<li><a title="/download-hijk/" href="/download-hijk" class="tablist-active">H-K</a></li>{% endif %}
          {% unless page.url contains "/download-hijk/" %}<li><a title="/download-hijk/" href="/download-hijk">H-K</a></li>{% endunless %}

          {% if page.url contains "/download-lm/" %}<li><a title="/download-lm/" href="/download-lm/" class="tablist-active">L-M</a></li>{% endif %}
          {% unless page.url contains "/download-lm/" %}<li><a title="/download-lm/" href="/download-lm/">L-M</a></li>{% endunless %}

          {% if page.url contains "/download-no/" %}<li><a title="/download-no/" href="/download-no/" class="tablist-active">N-O</a></li>{% endif %}
          {% unless page.url contains "/download-no/" %}<li><a title="/download-no/" href="/download-no/">N-O</a></li>{% endunless %}

          {% if page.url contains "/download-p/" %}<li><a title="/download-p/" href="/download-p/" class="tablist-active">P</a></li>{% endif %}
          {% unless page.url contains "/download-p/" %}<li><a title="/download-p/" href="/download-p/">P</a></li>{% endunless %}

          {% if page.url contains "/download-qr/" %}<li><a title="/download-qr/" href="/download-qr/" class="tablist-active">Q-R</a></li>{% endif %}
          {% unless page.url contains "/download-qr/" %}<li><a title="/download-qr/" href="/download-qr/">Q-R</a></li>{% endunless %}

          {% if page.url contains "/download-s/" %}<li><a title="/download-s/" href="/download-s/" class="tablist-active">S</a></li>{% endif %}
          {% unless page.url contains "/download-s/" %}<li><a title="/download-s/" href="/download-s/">S</a></li>{% endunless %}

          {% if page.url contains "/download-tuv/" %}<li><a title="/download-tuv/" href="/download-tuv/" class="tablist-active">T-V</a></li>{% endif %}
          {% unless page.url contains "/download-tuv/" %}<li><a title="/download-tuv/" href="/download-tuv/">T-V</a></li>{% endunless %}

          {% if page.url contains "/download-w/" %}<li><a title="/download-w/" href="/download-w/" class="tablist-active">W</a></li>{% endif %}
          {% unless page.url contains "/download-w/" %}<li><a title="/download-w/" href="/download-w/">W</a></li>{% endunless %}

          {% if page.url contains "/download-xyz/" %}<li><a title="/download-xyz/" href="/download-xyz/" class="tablist-active">X-Z</a></li>{% endif %}
          {% unless page.url contains "/download-xyz/" %}<li><a title="/download-xyz/" href="/download-xyz/">X-Z</a></li>{% endunless %}
        </ul>
        <div id="topicstablist2"></div>
      </td>
    </tr>
  </table>
</div>
