---
layout: basepage
---
<div class="panel panel-primary">
  <div class="panel-heading filehoo-panel-heading">
    <h2 class="panel-title">{{page.category}} Downloads</h2>
  </div>
  <div class="panel-body" style="padding:0px;">

    <div class="col-md-8">
      {% if site.environment=="production" %}
      <script type="text/javascript"><!--
      google_ad_client = "pub-6932012645209598";
      /* top */
      google_ad_slot = "5843510267";
      google_ad_width = 728;
      google_ad_height = 90;
      //-->
      </script>
     {% endif %}
      <article>
        {{content}}
      </article>
      {% if site.disqus.shortname %} {% include disqus-comments.html %} {% endif %}
    </div>
    <aside class="col-md-4">
      {% if site.environment=="production" %}
      <script type="text/javascript"><!--
      google_ad_client = "pub-6932012645209598";
      /* left */
      google_ad_slot = "4776540219";
      google_ad_width = 160;
      google_ad_height = 600;
      //-->
      </script><script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
      {% endif %}
      <br/><br/>
      {% include all-tags-flat.html %}
    </aside>
  </div>
</div>
