---
layout: basepage
---
<div class="panel panel-primary">
  <div class="panel-heading filehoo-panel-heading">
    <h2 class="panel-title">{{page.category}} Downloads</h2>
  </div>
  <div class="panel-body" style="padding:0px;">

    <div class="col-md-8">
      <article>
        {{content}}
      </article>
      {% if site.disqus.shortname %} {% include disqus-comments.html %} {% endif %}
    </div>
    <aside class="col-md-4">
      Advertisement   Advertisement   Advertisement   Advertisement   Advertisement   Advertisement   Advertisement   Advertisement   Advertisement   Advertisement   Advertisement   Advertisement   Advertisement   Advertisement   Advertisement   Advertisement   Advertisement   Advertisement   Advertisement   Advertisement   Advertisement   Advertisement   Advertisement   Advertisement   Advertisement   Advertisement   Advertisement   Advertisement   Advertisement   Advertisement
      <br/><br/>
      {% include all-tags-flat.html %}
    </aside>
  </div>
</div>
