---
layout: basepage
---
<div class="panel panel-primary">
  <div class="panel-heading filehoo-panel-heading">
    <h2 class="panel-title">{{page.title}}</h2>
  </div>
  <div class="panel-body" style="padding:0px;">

    <div class="col-md-8">
      <article>
        {{content}}
      </article>

      {% if site.disqus.shortname %} {% include disqus-comments.html %} {% endif %}
    </div>
    <aside class="col-md-4">
      Adobe PhotoShop Trial description Adobe Photoshop CS2 software, the professional image-editing standard and leader of the Photoshop digital imaging line Adobe Photoshop software, the professional image-editing standard and leader of the Photoshop digital
      imaging line, delivers more of what you crave.
    </aside>
  </div>
</div>
